{% extends 'lunch/base.html' %}

{% load static %}

{% block content %}

    <main role="main" class="container">
        <div class="row">
            {% for restaurant, menu in menus.items %}
                <div class="col-lg-4">
                    <h2>{{ restaurant.name }}</h2>
                    {% if menu %}
                        <p>{{ menu.message|linebreaks }}</p>
                        <p><a class="btn btn-primary" href="https://facebook.com/{{ menu.facebook_id }}" role="button">Post
                            na fb &raquo;</a></p>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            Restauracja nie dodała jeszcze menu.
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}
